<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>homeclock</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>GreatVibes-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Black.ttf</string>
		<string>RobotoCondensed-BlackItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-ExtraBold.ttf</string>
		<string>RobotoCondensed-ExtraBoldItalic.ttf</string>
		<string>RobotoCondensed-ExtraLight.ttf</string>
		<string>RobotoCondensed-ExtraLightItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Medium.ttf</string>
		<string>RobotoCondensed-MediumItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>RobotoCondensed-SemiBold.ttf</string>
		<string>RobotoCondensed-SemiBoldItalic.ttf</string>
		<string>RobotoCondensed-Thin.ttf</string>
		<string>RobotoCondensed-ThinItalic.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-BoldItalic.ttf</string>
		<string>RobotoMono-ExtraLight.ttf</string>
		<string>RobotoMono-ExtraLightItalic.ttf</string>
		<string>RobotoMono-Italic-VariableFont_wght.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-LightItalic.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-MediumItalic.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>RobotoMono-SemiBoldItalic.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>RobotoMono-ThinItalic.ttf</string>
		<string>Tiny5-Regular.ttf</string>
		<string>DMMono-Italic.ttf</string>
		<string>DMMono-Light.ttf</string>
		<string>DMMono-LightItalic.ttf</string>
		<string>DMMono-Medium.ttf</string>
		<string>DMMono-MediumItalic.ttf</string>
		<string>DMMono-Regular.ttf</string>
		<string>SourceCodePro-Black.ttf</string>
		<string>SourceCodePro-BlackItalic.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>SourceCodePro-BoldItalic.ttf</string>
		<string>SourceCodePro-ExtraBold.ttf</string>
		<string>SourceCodePro-ExtraBoldItalic.ttf</string>
		<string>SourceCodePro-ExtraLight.ttf</string>
		<string>SourceCodePro-ExtraLightItalic.ttf</string>
		<string>SourceCodePro-Italic.ttf</string>
		<string>SourceCodePro-Light.ttf</string>
		<string>SourceCodePro-LightItalic.ttf</string>
		<string>SourceCodePro-Medium.ttf</string>
		<string>SourceCodePro-MediumItalic.ttf</string>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SourceCodePro-SemiBold.ttf</string>
		<string>SourceCodePro-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
